/* This module is copywrite to ozxmod
 * Author: ozxmod(ozxmod@gmail.com)
 * It is illegal to remove this comment without prior notice to ozxmod(ozxmod@gmail.com)
*/ 
@CHARSET "ISO-8859-1";
/* Style code for login */
#cross_icon_login, #cross_icon_twitter_login, #cross_icon_twitter_login_login, #cross_icon_twitter_login_checkout
{
	width: 20px;
	float: right;
	cursor: pointer;
	right: 20px;
	position: relative;
}
#cross_icon_login, #cross_icon_twitter_login, #cross_icon_twitter_login_login, #cross_icon_twitter_login_checkout  {
top: -20px;
right: -3px;
}
#cross_icon_track {
	margin-top: -20px;
	margin-right: -40px;
}

#ozxmod_login_modal #signup_details .btn, #ozxmod_login_modal #login_details .btn, #ozxmod_login_modal #forgot_password_div .btn{
	width: 100%;
}

#ozxmod_login_head .modal-header .close{
	margin-top: -15px;
    margin-right: -12px;
    color: #000;
    opacity: 0.8;
    font-size: 28px;
}

#ozxmod_login_modal .modal-dialog
{
	border: 10px solid rgba(51,51,51,0.3);  
}

#ozxmod_login_modal .modal-content{
	border-radius: 0px !important;
}

#ozxmod_login_modal .modal-header{
	border-bottom: 0px !important;
}

#ozxmod_login_modal .left-part {
	/* border-right: 1px dotted rgba(0, 0, 0, 0.35); */
    /* margin-bottom: 10px; */
}

#ozxmod_login_modal .login_footer {
	clear: both;
background-color: #ddd;
/* width: 600px; */
height: 25px;
}

#ozxmod_login_modal .footer_close {
	float: right;
margin: 2px 7px 0;
background-color: #BBB;
padding: 2px 2px 0px 2px;
border-radius: 5px;
cursor: pointer;
}


#ozxmod_twitter_modal .modal-dialog
{
	border: 10px solid rgba(51,51,51,0.3);  
}

#ozxmod_twitter_modal .modal-content{
	border-radius: 0px !important;
}

#ozxmod_twitter_modal .modal-header{
	border-bottom: 0px !important;
}

#ozxmod_twitter_modal .left-part {
	/* border-right: 1px dotted rgba(0, 0, 0, 0.35); */
    margin-bottom: 10px;
}

#ozxmod_twitter_modal .login_footer {
	clear: both;
background-color: #ddd;
/* width: 600px; */
height: 25px;
}

#ozxmod_twitter_modal .footer_close {
	float: right;
margin: 2px 7px 0;
background-color: #BBB;
padding: 2px 2px 0px 2px;
border-radius: 5px;
cursor: pointer;
}

#ozxmod_twitter_modal .modal-dialog{
	/* width: 450px; */
}


#login_title, #signup_title
{
	font-size: 22px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.login_display, .signup_display
{
	font-size: 14px;
}
#login_details input[type="text"],#login_details input[type="password"]
{
	/*
	width: 235px;
	margin: 10px 0 10px 4px;
	*/
}
#signup_details input[type="text"], #signup_details input[type="password"]
{
	/*
	width: 235px;
	margin: 10px 0 10px 4px;
	*/
}
#signup-link, #login-link
{
	margin-left: 7px;
	font-size: 18px;
	font-weight: bold;
	color: #008000;
	cursor: pointer;
}


.main-link
{
	width: auto;
	float: left;
	padding-right: 20px;
}

#button-forgot-password {
	/*
	margin-left: 4px;
	width: 86px;
	font-size: 12px; */
}
#button-login-pop {
	font-size: 12px;
	
}
#button-register-pop, #button-login-pop {
	/* margin-left: 4px; */
}

#signup_submit_div td, #login_submit_div td{
	padding: 5px 0;
}

#ozxmod_login_modal .my-htabs {height:30px; line-height: 14px; padding-left:10px; border-bottom:2px solid #ddd; }
#ozxmod_login_modal .my-htabs a {padding:7px 15px 6px 15px; float:left; font-size: 13px; font-weight: normal; text-align: center; text-decoration:none; color:#333; display:none;}
#ozxmod_login_modal .my-htabs a.selected {color:#111; padding-bottom:7px; background:#FFFFFF; border-top: 2px solid #ddd; border-left:2px solid #ddd; border-right:2px solid #ddd; font-weight: bold;}
/* #ozxmod_login_modal .my-tab-content{padding:15px 0px 0px 14px; z-index:2; border-top:0px; } */

.login-divider-or {
width: 42px;
height: 42px;
background: url("../image/login_or.png") no-repeat transparent;
position: absolute;
top: 92px;
right: 195px;
}
.forgot_text {
	font-size: 11px;
}

#button-register-pop {
	/* width: 111px !important;
	line-height: 2px !important; */
}

#tab-login {
	/* width: 334px; 
	float:left;
	clear: both;
	*/
}

#tab-register {
	/* width: 334px;
	float:left;
	clear: both; */
}

#button-login-pop {
	/* line-height: 5px; */
}

#button-forgot-password {
	/* line-height: 5px; */
}

#signin_with_div {
	margin-top: -25px;
	text-align: center;
	border-left: 1px dotted rgba(0, 0, 0, 0.46);
}

#signin_with_div .signin-div {
	padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

#signin_with_div img {
	width: 160px;
}

/*
.signin_with_div_inner {
	margin-top: 27px;
	padding-left: 25px;
}
*/

#forgot_password, #signuppopup, #loginpopup {
	cursor: pointer;
}

#forgot_password {
	text-decoration: none !important;
}

/* Twitter */

#button-twit-login, #button-twit-login-login, #button-twit-login-checkout {
	/* margin-left: 5px; */
}

#ozxmod_login_modal_twit, #ozxmod_login_modal_twit_login, #ozxmod_login_modal_twit_checkout
{
	background-color: white;
	padding-top: 19px;
	width: 410px; 
	border: 10px solid rgba(51,51,51,0.3);
	min-height: 220px;  
}

#tabs-twitter-login, #tabs-twitter-login-login, #tabs-twitter-login-checkout {
	height: 30px;
	line-height: 14px;
	padding-left: 10px;
	border-bottom: 2px solid #ddd;
}
#tabs-twitter-login a, #tabs-twitter-login-login a, #tabs-twitter-login-checkout a {
	color: #111;
	
	background: #FFFFFF;
	border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	font-weight: bold;
	
    float: left;
    font-size: 13px;
    
    padding: 8px 15px 6px;
    text-align: center;
    text-decoration: none;
}

#tab-twitter-login, #tab-twitter-login-login, #tab-twitter-login-checkout{
	padding:20px 15px 10px; 
	/* margin-bottom: 20px; */ 
	z-index:2; 
	border-top:0px;
}

#twitter_login_details input[type="text"], #twitter_login_details_login input[type="text"],  #twitter_login_details_checkout input[type="text"]
{
	/*
	width: 235px;
	margin: 12px 0 15px 4px;
	*/
}

#twit_link, #twit_link_login, #twit_link_checkout {
	cursor: pointer;
}


/* End Twitter */


#ozxmod_login_head .btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#ozxmod_login_head .btn-link-1:hover, #ozxmod_login_head .btn-link-1:focus, #ozxmod_login_head .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

#ozxmod_login_head .btn-link-1.btn-link-1-facebook { background: #4862a3; }
#ozxmod_login_head .btn-link-1.btn-link-1-twitter { background: #55acee; }
#ozxmod_login_head .btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

#ozxmod_login_head .btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

#ozxmod_login_head .btn-link-2, .social-login-account .btn-link-2 {
	display: inline-block;
	height: 42px;
	margin: 2px;
	/* padding: 15px 20px 0 20px; */
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
   /* line-height: 16px; */
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#ozxmod_login_head .btn-link-2:hover, #ozxmod_login_head .btn-link-2:focus, 
#ozxmod_login_head .btn-link-2:active, #ozxmod_login_head .btn-link-2:active:focus
{ 
	outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; 
}

.social-login-account .btn-link-2:hover, .social-login-account .btn-link-2:focus, 
.social-login-account .btn-link-2:active, .social-login-account .btn-link-2:active:focus
{ 
	outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; 
}

/* Social button at account page */
#ozxmod_login_head .facebook, .social-login-account .facebook {
	background-color: #3b5999 !important; 
}
#ozxmod_login_head .gplus, .social-login-account .gplus {
	background-color: #dd4b39 !important; 
	width: 115px;
}
#ozxmod_login_head .twitter, .social-login-account .twitter {
	background-color: #00aced !important; 
	width: 115px;
}
#ozxmod_login_head .linkedin, .social-login-account .linkedin {
	background-color: #007bb6 !important; 
	width: 115px;
}

#ozxmod_login_head .btn-link-2 i, .social-login-account .btn-link-2 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}


/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 1215px)
{
        
}

@media (max-width: 915px)
{
        
}

@media (max-width: 765px)
{
      #signin_with_div {
			border-left: none;
        	margin-top: 5px;
        	border-top: 1px dotted rgba(0, 0, 0, 0.46); 
        	height: auto;
			width: 100%;
			margin-left: 0px !important;
			text-align: center;
        }
        #signin_with_div .signin-div{
        	padding-bottom: 10px;
        } 
}


@media (max-width: 500px)
{
	#signin_with_div {
			border-left: none;
        	margin-top: 5px;
        	border-top: 1px dotted rgba(0, 0, 0, 0.46); 
        	height: auto;
			width: 100%;
			margin-left: 0px !important;
			text-align: center;
        }
        #signin_with_div .signin-div{
        	padding-bottom: 10px;
        }
	/*
        #ozxmod_login_modal, #ozxmod_login_modal_twit, #ozxmod_login_modal_twit_login, #ozxmod_login_modal_twit_checkout {
			width: 90%;
        }
        
        #login_details input[type="text"], #login_details input[type="password"], #twitter_login_details input[type="text"], #twitter_login_details_login input[type="text"], #twitter_login_details_checkout input[type="text"] {
			width: 100%;
        }
        
        #signup_details input[type="text"], #signup_details input[type="password"] {
			width: 100%;
        }
        
      
        #tabs-login {
			width: auto !important;
        }
        
        #tabs-twitter-login, #tabs-twitter-login-login, #tabs-twitter-login-checkout {
			width: 100% !important;
        }
        
        #tab-login{
			width: 100% !important;
        }
        #tab-register {
			width: 100% !important;
        }
		
        #forgot_password_div {
			width: 100% !important;
        	margin-bottom: 20px;
        }
        
        .login-divider-or {
        	display: none;
        }
       
        
        #forgot_password {
			display: block;
        }
        
		
		#signup_details table, #login_details table {
			width: 100%;
		}
		
		.signin_with_div_inner {
			margin-top: 15px;
		}
        
        #ozxmod_login_modal .my-tab-content{ padding:15px 14px 0px 14px; }
        */
        
}


.warning-tr {
	margin-top: 10px;
}


/* This module is copywrite to ozxmod
 * Author: ozxmod(ozxmod@gmail.com)
 * It is illegal to remove this comment without prior notice to ozxmod(ozxmod@gmail.com)
*/ 