/*
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}
*/

#loginpopup, #signuppopup{
	cursor: pointer;
}

#ozxmod_login_head{
	   /* background-image: url("../img/backgrounds/1.jpg"); */
}

#ozxmod_login_head .modal-header{
	padding: 0px !important;
}

#ozxmod_login_head .modal-header .close{
	margin-top: -4px;
    margin-right: -24px;
    color: #fff;
    opacity: 0.8;
    font-size: 28px;
}

#ozxmod_login_head .modal-body{
	padding: 20px 0 0 0 !important;
}

#ozxmod_login_head .row{
	margin: 0px !important;
}

/* Forgot Password */
#ozxmod_login_head .forgot-div{
	display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
}
#ozxmod_login_head .forgot-div a{
	cursor: pointer;
}
#ozxmod_login_head .forgot-div a:hover{
	text-decoration: underline;
}

#ozxmod_login_head #forgot_password_div label{
	color: white;
}

/* End Forgot Password */

#ozxmod_login_head strong { font-weight: 500; }

#ozxmod_login_head a, #ozxmod_login_head a:hover, #ozxmod_login_head a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

#ozxmod_login_head h1, #ozxmod_login_head h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

#ozxmod_login_head h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

#ozxmod_login_head img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


#ozxmod_login_head .btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#ozxmod_login_head .btn-link-1:hover, #ozxmod_login_head .btn-link-1:focus, #ozxmod_login_head .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

#ozxmod_login_head .btn-link-1.btn-link-1-facebook { background: #4862a3; }
#ozxmod_login_head .btn-link-1.btn-link-1-twitter { background: #55acee; }
#ozxmod_login_head .btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

#ozxmod_login_head .btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.social-login-account h3{
	/* text-align: center;*/
}

#ozxmod_login_head .btn-link-2, .social-login-account .btn-link-2 {
	display: inline-block;
	height: 42px;
	margin: 2px;
	/* padding: 15px 20px 0 20px; */
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
   /* line-height: 16px; */
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#ozxmod_login_head .btn-link-2:hover, #ozxmod_login_head .btn-link-2:focus, 
#ozxmod_login_head .btn-link-2:active, #ozxmod_login_head .btn-link-2:active:focus
{ 
	outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; 
}

.social-login-account .btn-link-2:hover, .social-login-account .btn-link-2:focus, 
.social-login-account .btn-link-2:active, .social-login-account .btn-link-2:active:focus
{ 
	outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; 
}

/* Social button at account page */
#ozxmod_login_head .facebook, .social-login-account .facebook {
	background-color: #3b5999 !important; 
}
#ozxmod_login_head .gplus, .social-login-account .gplus {
	background-color: #dd4b39 !important; 
}
#ozxmod_login_head .twitter, .social-login-account .twitter {
	background-color: #00aced !important; 
}
#ozxmod_login_head .linkedin, .social-login-account .linkedin {
	background-color: #007bb6 !important; 
}

#ozxmod_login_head .btn-link-2 i, .social-login-account .btn-link-2 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

/*
#ozxmod_login_head .form-box {
	margin-top: 70px;
}
*/

#ozxmod_login_head .form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

#ozxmod_login_head .form-top-left {
	float: left;
	/* width: 75%; */
	padding-top: 10px;
}

#ozxmod_login_head .form-top-left h3 { margin-top: 0; color: #fff; }
#ozxmod_login_head .form-top-left p { opacity: 0.8; color: #fff; }

#ozxmod_login_head .form-top-right {
	/*
	float: left;
	width: 25%;
	padding-top: 5px;
	*/
	font-size: 45px;
	color: #fff;
	line-height: 75px;
	text-align: right;
	opacity: 0.6;
}

#ozxmod_login_head .form-top-right .fa{
	font-size: 45px !important;
}

#ozxmod_login_head .form-bottom {
	padding-bottom: 10px; 
	/* padding: 25px 25px 30px 25px; */
	/*
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	*/
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

#ozxmod_login_head .form-bottom button.btn {
	width: 100%;
}

#ozxmod_login_head .form-bottom form .input-error {
	border-color: #19b9e7;
}

#ozxmod_login_head .social-login {
	/* margin-top: 35px; */
	text-align: center;
}

#ozxmod_login_head .social-login h3 {
	color: #fff;
}

#ozxmod_login_head .social-login-buttons {
	margin-top: 15px;
}

#ozxmod_login_head .social-login .btn-link-2 {
	width: 108px;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 768px) {
	#ozxmod_login_head .modal-dialog{
		width: 515px !important;
	}
}

@media (max-width: 767px) {
	
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; 
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

